.layout {
  justify-content: center;
}

.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.themeToggle > *:not(:last-child) {
  margin-right: 8px;
}

.separator {
  margin-top: 32px;
}

.content {
  position: relative;
  background-color: var(--background_content);
}

.contentDesktop {
  padding: 8px 16px 16px;
  border-radius: 8px;
}

.contentDesktop .separator {
  margin-top: 16px;
}

.card {
  padding: 64px 12px;
}
